Memberships
* User should see link for basic plan on home page
* User should see link for pro plan on home page
* Basic plan link should point to the regular devise sign up form
* Pro plan link should point to point to a custom sign up form

ActiveRecord - 'model' in mvc, capabilities that are given to certain classes (schema)
(object relational mapping system (SQL database))
Parameters - action controller, query string (after question mark)
second type -> data sent by HTTP POST request
Substitution - mentally interchange variables for what they mean

Stripe Integration
* Users should have a Stripe customer token in the users table
* Javascript should prevent pro form from submitting after user fills it out,
shoud send card info to Stripe, Stripe will return with card token
* Javascript should send user fields and card token to rails app for validation,
rails app should validate user fields. Note if plan 1 or 2
* Once validated, rails should send user info (email, plan id) to Stripe server,
and Stripe will create a subscription and send back customer token, rails saves
customer token and user information to database